<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:ignore="RequestInstallPackagesPolicy" />

    <!--use hardware sensors/components-->

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--tile preferences router activity for tiles preferences-->

        <activity
            android:name=".activity.TilePreferencesActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <!--about app activity-->

        <activity
            android:name=".activity.AboutAppActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent" />

        <!--function activity for tiles-->

        <activity
            android:name=".activity.ScreenshotActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.MediaOutputActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.VolumeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.ClipboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.MusicSearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <!--permission activity for tiles-->

        <activity
            android:name=".activity.AccessibilityPermissionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.NotificationPolicyPermissionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.WriteSettingsPermissionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.WriteSecureSettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <!--function services for tiles-->

        <service
            android:name=".services.accessibility.TileAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":tiles"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!--battery quick settings tile service-->

        <service
            android:name=".tiles.battery.BatteryTileService"
            android:exported="true"
            android:icon="@drawable/ic_battery_full"
            android:label="@string/battery_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--breathing quick settings tile service-->

        <service
            android:name=".tiles.breathing.BreathingTileService"
            android:exported="true"
            android:icon="@drawable/ic_breathing"
            android:label="@string/breathing_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_ACCESSIBILITY" />
        </service>

        <!--auto brightness quick settings tile service-->

        <service
            android:name=".tiles.brightness.AutoBrightnessTileService"
            android:exported="true"
            android:icon="@drawable/ic_auto_brightness_on"
            android:label="@string/auto_brightness_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_DISPLAY" />
        </service>

        <!--caffeine quick settings tile service-->

        <service
            android:name=".tiles.caffeine.CaffeineTileService"
            android:exported="true"
            android:icon="@drawable/ic_caffeine"
            android:label="@string/caffeine_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_DISPLAY" />
        </service>

        <!--clipboard quick settings tile service-->

        <service
            android:name=".tiles.clipboard.ClipboardTileService"
            android:exported="true"
            android:icon="@drawable/ic_clipboard_clear"
            android:label="@string/clipboard_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--coin flip quick settings tile service-->

        <service
            android:name=".tiles.coinflip.CoinFlipTileService"
            android:exported="true"
            android:icon="@drawable/ic_coin"
            android:label="@string/coin_flip_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--compass quick settings tile service-->

        <service
            android:name=".tiles.compass.CompassTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_compass"
            android:label="@string/compass_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing compass sensor data while tile is active" />
        </service>

        <!--counter quick settings tile services-->

        <service
            android:name=".tiles.counter.CounterAddTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_add"
            android:label="@string/counter_tile_add"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <service
            android:name=".tiles.counter.CounterRemoveTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_remove"
            android:label="@string/counter_tile_remove"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <service
            android:name=".tiles.counter.CounterResetTileService"
            android:exported="true"
            android:icon="@drawable/ic_counter_reset"
            android:label="@string/counter_tile_reset"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--dice roll quick settings tile service-->

        <service
            android:name=".tiles.diceroll.DiceRollTileService"
            android:exported="true"
            android:icon="@drawable/ic_dice"
            android:label="@string/dice_roll_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--dns quick settings tile service-->

        <service
            android:name=".tiles.dns.DnsTileService"
            android:enabled="@bool/enable_dns_tile"
            android:exported="true"
            android:icon="@drawable/ic_dns_on"
            android:label="@string/dns_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_CONNECTIVITY" />
        </service>

        <!--bubble level quick settings tile service-->

        <service
            android:name=".tiles.level.LevelTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_level"
            android:label="@string/level_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing accelerometer sensor data while tile is active" />
        </service>

        <!--lock screen quick settings tile service-->

        <service
            android:name=".tiles.lock.LockTileService"
            android:enabled="@bool/enable_lock_tile"
            android:exported="true"
            android:icon="@drawable/ic_lock"
            android:label="@string/lock_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_PRIVACY" />
        </service>

        <!--lux meter quick settings tile service-->

        <service
            android:name=".tiles.luxmeter.LuxMeterTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_lux_meter"
            android:label="@string/lux_meter_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Required for accessing light sensor data while tile is active" />
        </service>

        <!--media output quick settings tile service-->

        <service
            android:name=".tiles.mediaoutput.MediaOutputTileService"
            android:exported="true"
            android:icon="@drawable/ic_media_output"
            android:label="@string/media_output_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_CONNECTIVITY" />
        </service>

        <!--device memory quick settings tile service-->

        <service
            android:name=".tiles.memory.MemoryTileService"
            android:exported="true"
            android:icon="@drawable/ic_memory"
            android:label="@string/memory_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--google music search quick settings tile service-->

        <service
            android:name=".tiles.musicsearch.MusicSearchTileService"
            android:exported="true"
            android:icon="@drawable/ic_music_search"
            android:label="@string/music_search_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--network traffic quick settings tile service-->

        <service
            android:name=".tiles.networktraffic.NetworkTrafficTileService"
            android:exported="true"
            android:icon="@drawable/ic_network"
            android:label="@string/network_traffic_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_CONNECTIVITY" />
        </service>

        <!--nfc quick settings tile service-->

        <service
            android:name=".tiles.nfc.NfcTileService"
            android:exported="true"
            android:icon="@drawable/ic_nfc_on"
            android:label="@string/nfc_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_CONNECTIVITY" />
        </service>

        <!--power menu quick settings tile service-->

        <service
            android:name=".tiles.power.PowerTileService"
            android:enabled="@bool/enable_power_tile"
            android:exported="true"
            android:icon="@drawable/ic_power"
            android:label="@string/power_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--rotation quick settings tile service-->

        <service
            android:name=".tiles.rotation.RotationTileService"
            android:exported="true"
            android:icon="@drawable/ic_rotation"
            android:label="@string/rotation_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_DISPLAY" />
        </service>

        <!--screenshot quick settings tile service-->

        <service
            android:name=".tiles.screenshot.ScreenshotTileService"
            android:enabled="@bool/enable_screenshot_tile"
            android:exported="true"
            android:icon="@drawable/ic_screenshot"
            android:label="@string/screenshot_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--sos quick settings tile service-->

        <service
            android:name=".tiles.sos.SosTileService"
            android:exported="true"
            android:icon="@drawable/ic_sos"
            android:label="@string/sos_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_ACCESSIBILITY" />
        </service>

        <!--sound mode quick settings tile service-->

        <service
            android:name=".tiles.soundmode.SoundModeTileService"
            android:exported="true"
            android:icon="@drawable/ic_sound"
            android:label="@string/sound_mode_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--temperature quick settings tile service-->

        <service
            android:name=".tiles.temperature.TemperatureTileService"
            android:exported="true"
            android:icon="@drawable/ic_temperature"
            android:label="@string/temperature_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>

        <!--usb debugging quick settings tile service-->

        <service
            android:name=".tiles.usbdebugging.UsbDebuggingTileService"
            android:exported="true"
            android:icon="@drawable/ic_usb_on"
            android:label="@string/usb_debugging_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_PRIVACY" />
        </service>

        <!--volume quick settings tile service-->

        <service
            android:name=".tiles.volume.VolumeTileService"
            android:exported="true"
            android:icon="@drawable/ic_volume"
            android:label="@string/volume_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":tiles">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
        </service>
    </application>
</manifest>